@import "src/assets/variables";

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background-color;
  height: calc(100vh - #{$header-height});

  .error-page-message {
    font-size: 3rem;
    color: $accent-color;

    .go-home-icon {
      color: $accent-color;
    }
  }
}
