@import "../../../../assets/variables";

:host {
  position: relative;
  z-index: 1;

  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $header-height;
    background-color: $primary-color;
    padding: 0 $offset-x-large;

    .app-name {
      font-size: 2rem;
      color: $white;
    }
  }
}
