$primary-color: #c7bc80;
$accent-color: #65647C;
$background-color: #F1D3B3;
$cancel-color: #7c7c7c;
$white: #ffffff;
$black: #000000;

$offset-small: 0.3rem;
$offset-medium: 0.6rem;
$offset-large: 1.2rem;
$offset-x-large: 2.4rem;

$header-height: 5rem;


