@import "src/assets/variables";

:host{
  .dashboard-container{
    display: flex;
    justify-content: center;
    gap: $offset-large;
    height: calc(100vh - #{$header-height});
    background-color: $background-color;
    padding: $offset-large 0;

    .dashboard-card {
      width: max-content;
      height: max-content;
      background-color: $accent-color;

      .dashboard-card-header {
        margin-bottom: $offset-medium;
      }

      .dashboard-card-text {
        color: $white;
      }
    }
  }
}
